.explore-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid-container {
  columns: 3 150px;
  column-gap: 1rem;
  width: 70%;
  margin: 130px;
}

.photo-container {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  transition: all .25s ease-in-out;
  border-radius: 5px;
  /* box-shadow: 5px 5px 5px rgba(0,0,0,0.5); */
  /* border: solid 2px black; */
}

a {
  text-decoration: none;
}

.photo-container:hover {
  background-color: rgba(0, 0, 0, 0.089);
}

.photo {
  display: block;
  width: 100%; 
  height: auto;
}

.photo:hover {
  cursor: point;
}

#explore-photo-title, #explore-photo-user {
  margin: 5px 0;
  padding: 0;
  text-align: center;
  background-color: none;
  width: 100%;
  /* position: absolute;
  visibility: hidden; */
}
