/* body {
  background-image: none;
} */

.explore-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
  max-width: 1024px;
  margin: 0 auto;
}

.photo {
  width: 100%; 
  height: auto;
  margin-bottom: 10px;
}

.photo-container {
  position: static;
  flex-grow: 1;
  padding: .2rem;
}

.photo {
  display: block;
  min-width: 100%;
  /* display: flex; */
  /* width: 200px;
  height: 200px;
  object-fit: cover; */
  /* padding: 10px; */
  /* position: relative; */
}

.photo:hover {
  cursor: point;
}

#explore-photo-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2121244f;
  color: #fff;
  visibility: hidden;
  width: 100%;
}

#explore-photo-title, #explore-photo-user {
  text-decoration: none;
}

/* .photo-container:hover #explore-photo-title{
  visibility: visible;
  opacity: 1;
} */