.profile-album {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.nav-profile-album {
  background-color: white;
  width: 100%;
  text-align: center;
  padding: 20px 0 20px 0;
  box-shadow: 0px 2px 5px -4px black;
  margin-bottom: 23px;
}

.nav-profile-album a {
  margin: 20px;
  color: #212124;
}

.album-info {
  box-shadow: 0px 2px 8px -4px black;
}

.album-info p {
  padding: 4px;
}

.album-photo-container {
  columns: 4 150px;
  column-gap: 1rem;
  width: 55%;
  margin: 0 130px 50px 130px;
}

.alb-photo {
  margin: 0 1rem 1rem 0;
  display: inline-block;
  width: 100%;
  transition: all .25s ease-in-out;
  border-radius: 5px;
}

.album-info h4 {
  background-color: #9dad7f;
  color: white;
  margin-top: auto;
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#album-description {
  color: white;
}

.nav-profile-album a {
  text-decoration: none;
  color: #212124;
}

.nav-profile-album a:hover {
  color: #9dad7f;
  transition-duration: 0.2s;
}

#album-description {
  text-transform: none;
  margin: 0;
  font-size: 14px;
}

#explore-photo-title-1 {
  font-weight: bold;
}

#explore-photo-title-1:hover {
  color: black;
}

.add-album-modal {
  display: flex;
  justify-content: center;
  margin-left: 692px;
  margin-bottom: 20px;
}