.splash-demo-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#demo-btn {
  color: white;
  background-color: #9dad7f;;
  border-radius: 5px;
  width: 100%;
  padding: 10px 24px;
  margin-top: 8px;
  border: none;
  font-weight: bold;
  font-size: 15px;
  box-shadow: 0px 2px 8px -4px black;
}

.splash-demo-btn form {
  margin: 0 10px 10px 10px;
}

#demo-btn:hover {
  background-color: white;
  color: black;
  transition-duration: 0.2s;
}