.footer-container {
  position: fixed;
  background-color: #18181b;
  width: 100%;
  bottom: 0;
  text-align: center;
}

.fa-github, .fa-linkedin {
  color: white;
  font-size: 25px;
  margin: 10px 15px 0 15px;
}

.fa-github:hover, .fa-linkedin:hover {
  color: #c7c3c3;
}



