.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 50px;
}

.form-container input {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 6px;
}

#edit-btn {
  display: inline-block;
  margin-left: 355px;
  position: absolute;
  font-weight: bold;
  padding: 6px 15px;
  background-color: #c0bebe;
  font-size: 12px;
}

#edit-btn:hover {
  background-color: #212124;
  color: white;
}
