.form-container {
  display: flex;
  flex-direction: column;
  width: 330px;
  padding: 50px;
}

.form-container h3 {
  text-align: center;
  margin-top: 0;
}

.form-container input {
  display: flex;
  flex-direction: column;
  padding: 8px;
  margin: 12px 0;
  width: 93%;
}

#edit-btn {
  display: inline-block;
  margin-left: 355px;
  position: absolute;
  font-weight: bold;
  padding: 6px 15px;
  background-color: #c0bebe;
  font-size: 12px;
}

#edit-btn:hover {
  background-color: #212124;
  color: white;
}

.cancel-change-btn, .delete-photo-btn, .save-info-btn {
  background-color: #c0bebe;
  margin-bottom: 5px;
}

.save-info-btn {
  width: 75%;
}

.delete-photo-btn {
  width: 23%;
  margin-left: 5px;
}

.cancel-change-btn:hover, .delete-photo-btn:hover, .save-info-btn:hover {
  background-color: #212124;
}