.user-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px;
}

.photo-container {
  display: flex;
  width: 200px;
  height: 200px;
  object-fit: cover;
  padding: 10px;
}