.single-photo-container {
  padding: 100px 40px 55px 0;
  background-color: #212124;
}

.single-photo-container img {
  display: block;
  margin: 0 auto;
}

.details-comments {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  'details .' 
  'comments tags';
  padding: 10px 100px 100px 100px;
  color: black;
}

.photo-details {
  grid-area: 'details';
  padding: 20px 40px 8px 230px;
  margin: 0;
}

.photo-details h3, .photo-details p, .photo-details a {
  margin: 0;
}

.follow-btn {
  display: inline-block;
  margin-left: 335px;
  position: absolute;
}

.follow-btn:hover, #edit-btn:hover, #save-btn:hover, #delete-btn:hover, #comment-btn:hover{
  background-color: #212124;
  color: white;
}


.photos-comments-tags {
  padding: 0 40px 80px 230px;
}

.comments-container {
  grid-area: 'comments';
  align-items: flex-end;
}

.tags-container {
  grid-area: 'tags';
  padding: 20px 40px 80px 0;
}

p {
  color: black;
}


.username-display {
  font-weight: bold;
  margin: 20px 0 5px 0;
}

.user-comment {
  margin: 0;
}

a p:hover {
  color:#9dad7f;
}