.photo-page-container {
  
}

.single-photo-container {
  padding: 100px;
  background-color: #212124;
}

#single-photo {
  display: flex;
  justify-content: center;
}


.photo-details {
  padding: 10px 100px 100px 100px;
  color: black;
}

.photos-comments-tags {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: 
  'comments tags';
  padding: 10px 100px 100px 100px;
}

.comments-container {
  grid-area: 'comments';
  align-items: flex-end;
}

.tags-container {
  grid-area: 'tags'
}

p {
  color: black;
}


#username-display {
  font-weight: bold;
}