.photo-page-container {
  display: flex;
  flex-wrap: column;
  justify-content: center;
}

.single-photo-container {
  justify-content: center;
  padding: 100px;
}

.comments-container {
  justify-content: center;
}


p {
  color: black
}


#username-display {
  font-weight: bold;
}