/* TODO Add site wide styles */
body {
  margin: 0;
  font-family: 'Helvetica Neue';
  background-color: #f3f5f6;
  overflow-x: hidden;
}

button {
  background-color: #9dad7f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px -4px black;
}

button:hover {
  transition-duration: 0.3s;
}

img {
  box-shadow: 0px 2px 8px -4px black;
}

input, select {
  border: 1px solid #c0bebe;
  border-radius: 5px;
}

input:focus, select:focus {
  outline-color: #9dad7f;
}