/* TODO Add site wide styles */
body {
  margin: 0;
  font-family: 'Helvetica Neue';
}

button {
  background-color: #9dad7f;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

button:hover {
  transition-duration: 0.3s;
}