.login-page-container {
  background-image: url('../../images/splash-background.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
  position: fixed;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 180px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 25px 50px;
  padding: 40px;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 2px 10px -4px black;
}

.login-form img {
  margin-bottom: 8px;
  box-shadow: none;
}

.login-form p {
  margin: 0;
  font-size: 20px;
}

#login-btn {
  color: white;
  background-color: #9dad7f;
  border-radius: 5px;
  width: 100%;
  padding: 10px 24px;
  margin-top: 15px;
  border: none;
  font-weight: bold;
  font-size: 15px;
}

#login-btn:hover {
  background-color: #212124;
  color: white;
  transition-duration: 0.2s;
}

.nav-sign-up p {
  font-size: 14px;
  margin-top: 14px;
}

.nav-sign-up a {
  text-decoration: none;
  color: #9dad7f;;
}

.nav-sign-up a:hover {
  color: #4c533e;
  transition-duration: 0.2s;
}

/* Errors display */
#errors-list {
  padding: 0;
  font-size: 14px;
  text-align: center;
  list-style-type: none;
  color: #e2292b;
}