.nav-container {
  width: 100%;
  height: 50px;
  background-color: #18181b;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  top: 0;
  position: fixed;
  z-index: 1;
  /* left: 0; */
}

.footer-container {
  width: 100%;
  height: 50px;
  background-color: #18181b;
  position: relative;
  margin-top: -200px;
}

.nav-link {
  font: 16px;
  color: white;
  text-decoration: none;
}

#puppr-logo h2 {
  color: white;
  font-size: 28px;
  margin-top: 18px;
}

#puppr-logo a {
  text-decoration: none;
}

#puppr-logo h2:hover, .nav-link:hover {
  color: #c7c3c3;
  transition-duration: 0.2s;
}

.nav-link-2:hover {
  background-color: #9dad7f;
  color: white;
  transition-duration: 0.2s;
}

#profile-btn, #upload-btn {
  background: none;
  border: none;
  position: relative;
}

.fa-user-alt, .fa-cloud-upload-alt {
  color: white;
  font-size: 20px;
}

.fa-user-alt:hover, .fa-cloud-upload-alt:hover {
  color: #c7c3c3;
  transition-duration: 0.2s;
}

.dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: white;
  min-width: 160px;
  border-radius: 3px;
  border: 1px solid #212124;
  box-shadow: 0 6px 5px -5px rgba(0,0,0,0.2);
  margin-top: 9px;
  margin-right: 200px;
  padding: 12px 0;
}

#profile-nav, #logout-nav {
  font-size: 15px;
  text-decoration: none;
  color: #212124;
  padding: 6px 20px;
}

#profile-nav:hover, #logout-nav:hover {
  background-color: #f1f1f1;
}

.nav-link-2 {
  background-color: white;
  border-radius: 5px;
  color: black;
  font-weight: 540;
  text-decoration: none;
  padding: 6px 20px;
}